<template name="startpage">

  <div class="w3-row">
    <div class="w3-third">
      <div class="w3-card w3-margin">
        <img src="./images/home/pic1.jpg" alt="Lights" class="w3-image w3-round">
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card  w3-margin">
        <figure class="snip0016">
         <img src="./images/home/pic1.jpg" alt="Lights" class="w3-image">
          <figcaption>
            <span id="figcap1">
              <div class="figHeader">Mad East</div>
            </span>
          </figcaption>
          <figcaption>
            <span id="figcap3">
              <div class="calMonth">Juni</div>
              <div class="calDay">23</div>
            </span>
          </figcaption>
          <figcaption id="figcap2">
            <h2>MAD EAST
              <span>
                <br>Enduro
              </span>
            </h2>
            <p>Verr&uuml;ckt genug?</p>
            <p>23.06.2018</p>
            <a href="#"></a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card  w3-margin">
        <img src="./images/home/pic1.jpg" alt="Lights" class="w3-image w3-round">
      </div>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-third">
      <div class="w3-card w3-margin">
        <img src="./images/home/pic1.jpg" alt="Lights" class="w3-image w3-round">
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card  w3-margin">
        <img src="./images/home/pic1.jpg" alt="Lights" class="w3-image w3-round">
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card  w3-margin">
        <img src="./images/home/pic1.jpg" alt="Lights" class="w3-image w3-round">
      </div>
    </div>
  </div>

</template>